<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
    		<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://211.90.37.222:17017/IMPortalServerP2/ftp/version/upgrade/IMHere_3.10.2.1521_HBZJJ_1540977339891.ipa</string>
				</dict> 
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hy.imp.IMPortals</string>
				<key>bundle-version</key>
				<string>1001</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>安装下载</string>
				<key>title</key>
				<string>合创圈</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
